body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 350px;
    margin: 60px auto;
    padding: 20px;
}

.logo {
    color: blue;
    font-size: 37px;
    margin-bottom: 30px;
    border-inline: none;
}

input {
    width: 100%;
    padding: 14px;
    margin: 8px 0;
    border: 1px solid seashell;
    border-radius: 6px;
    font-size: 16px;
}

.login-btn {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    margin-top: 10px;
}

.forgot {
    display: block;
    margin: 15px 0;
    color: deepskyblue;
    text-decoration: none;
    font-size: 14px;
}

.or {
    margin: 20px 0;
    color: gray;
}

.create-btn {
    width: 100%;
    background-color: forestgreen;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
}

.footer {
    margin-top: 60px;
    font-size: 13px;
    color: gray;
} 
